{% extends "idea/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
  <h2> Reset your password </h2>
  {% if validlink %}
  <p> Please enter your new password twice: </p>
  <form action="" method="POST">
    {% csrf_token %}
    {{ form|crispy }}
    <input class="btn btn-outline-info mb-4" type="submit" value="Chamge my password">
  </form>
  {% else %}
    <p> Password reset link was invalid, possibly because it has been already used.
       Please request a new password reset. </p>
  {% endif %}
{% endblock content %}
